.info {

    font-size: 18px;
    @media screen and (max-width: $mobile) {
        font-size: 14px;
    }
    display: flex;
    align-items: center;
    &::before {
        content: '';
        width: 21px;
        margin-right: 14px;
        height: 21px;
    }

    &-map{
        &::before {
        background: url('../images/first-screen/map.svg') center center/contain no-repeat;
        }
    }
    &-phone {
        &::before {
            background: url('../images/first-screen/phone.svg') center center/contain no-repeat;
        }
    }
}