<section class="benefits" id="benefits">
    <div class="benefits__container">
        <h2 class="visualy-hidden">Преимущества ЖК квартир</h2>

        <ul class="benefits__list">
            <li>
                <div class="benefits__list-img">
                    <img src="./images/benefits/bench.svg" alt="">
                </div>
                <p class="benefits__list-descr">
                    Рядом исторические <br>
                    парки и скверы
                </p>
            </li>
            <li>
                <div class="benefits__list-img">
                    <img src="./images/benefits/building.svg" alt="">
                </div>
                <p class="benefits__list-descr">
                    Полностью <br>
                    обустроенный
                </p>
            </li>
            <li>
                <div class="benefits__list-img">
                    <img src="./images/benefits/fountain.svg" alt="">
                </div>
                <p class="benefits__list-descr">
                    10 фонтанов <br>
                    на территории
                </p>
            </li>
            <li>
                <div class="benefits__list-img">
                    <img src="./images/benefits/bicycle.svg" alt="">
                </div>
                <p class="benefits__list-descr">
                    6 км <br>
                    велодорожек
                </p>
            </li>
        </ul>

    </div>
</section>