<section class="cta">
    <div class="cta__container">
        <h2 class="_title">Хотите посмотреть?</h2>

        <div class="cta__wrapper">

            <div class="cta__text">
                <p>
                    ЖК LoftHouse – это проект бизнес-класса, расположенный в центре города, на Наб. реки Фонтанки 10-15.
                    Комплекс предлагает своим жильцам квартиры площадью от 40 до 170 кв. м. В здании будет три секции, в
                    которых разместится всего 56 квартир.
                </p>
            </div>
            <!-- /.cta__text -->

            <form action="#" class="cta__form form">
                <input name="username" id="userName" type="text" placeholder="Ваше имя" class="form__input">
                <input name="userphone" id="userPhone" type="tel"  placeholder="Ваш телефон" class="form__input">

                <p class="form__privacy">
                    *Мы никому не передаем ваши данные. <br>
                    И не сохраняем ваш номер в базу.
                </p>

                <button class="_btn">Посмотреть</button>
            </form>
            <!-- /.cta__form -->

        </div>
        <!-- /.cta__wrapper -->
    </div>
</section>