<section class="feedback">
    <div class="feedback__container">
        <h2 class="_title">Есть вопросы?</h2>

        <form action="#" class="feedback__form form">
            <p class="form__privacy">
                *Мы никому не передаем ваши данные. <br>
                И не сохраняем ваш номер в базу.
            </p>
            <input name="username" id="userName" type="text" placeholder="Ваше имя" class="form__input">
            <input name="userphone" id="userPhone" type="tel"  placeholder="Ваш телефон" class="form__input">
            <a href="#section-map" class="_btn">Посмотреть район</a>
        </form>

    </div>
</section>