<section class="video">
    <div class="video__container">

        <h2 class="visualy-hidden">Видео про ЖК LoftHouse</h2>

        <div class="video__wrapper">
            <div class="video__box">
                <div class="video__img _img">
                    <img src="./images/video/video-img.webp" alt="Видео">
                </div>
                <div class="video__play"><img src="./images/video/play-button.svg" alt=""></div>
                <a href="https://youtu.be/5eiAmsELpRo" class="video__link"></a>
            </div>
        </div>

    </div>
</section>